# SPDX-FileCopyrightText: © 2024-2025 Triad National Security, LLC.
# SPDX-FileCopyrightText: © 2026 OpenCHAMI a Series of LF Projects, LLC
#
# SPDX-License-Identifier: MIT

.DS_Store
*.tgz
*.swp
.vscode
.idea
dist/

# Binaries
coredhcp
coredns
